﻿<div data-dojo-attach-point="containerNode" style="width:100%;height:100%;">
    <span data-dojo-attach-point="resultsTitle"></span>
    <div data-dojo-attach-point="resultsTabs"></div>
    <div style="display:none;" data-dojo-attach-point="resultsLoadingMessage"></div>
    <div data-dojo-attach-point="noResultsMessage">
        <h3>No results</h3>
    </div>
</div>