﻿<div class="containerNode filterManagerContainer" data-dojo-attach-point="containerNode">
        <div data-dojo-attach-point="filterManagerForm">
            <div id="filterControls" class="jstoolkit-floatingPane">
                <div id="filterSelectContainer">
                    <label>Filter layer</label>
                    <div class="layerSelect" data-dojo-attach-point="layerSelect"></div>
                </div>
                <div id="filterControlActions">
                    <span data-dojo-attach-point="addFilterLink"><i class="icon-plus"></i>&nbsp;Add another expression</span>
                </div>
                <div id="filterQueryJoinTypeContainer">
                    <p>
                        Display features in the layer that match
                    <select class="joinOperatorSelect" required="required" data-dojo-attach-point="joinOperatorSelect"></select>
                        of the following expressions
                    </p>
                </div>
                <div data-dojo-attach-point="filterDiv"></div>
            </div>
        </div>
        <div class="dijitDialogPaneActionBar">
            <div data-dojo-attach-point="applyButton"></div>
            <div style="display:none;" data-dojo-attach-point="quickSearchLabelTextBox"></div>
            <div data-dojo-attach-point="saveAsQuickSearchButton"></div>
        </div>
</div>
