﻿<div class="jstoolkit-floatingPane">
   <div class="row-fluid">
      <div class="colspan6" data-dojo-attach-event="onClick: _onAddFolderClick">
         <div data-dojo-type="wvs/dijits/SimpleButton" data-dojo-attach-point="addFolderButton" data-dojo-props="label: 'Add Folder', leftIconClass: 'icon-plus'"></div>
      </div>
      <div class="colspan6" style="text-align: right;" data-dojo-attach-event="onClick: _onAddBookmarkClick">
         <div data-dojo-type="wvs/dijits/SimpleButton" data-dojo-attach-point="addBookmarkButton" data-dojo-props="label: 'Add Bookmark', leftIconClass: 'icon-plus'"></div>
      </div>
   </div>
   <div data-dojo-attach-point="bookmarksNode" class="row-fluid">
      <div data-dojo-attach-point="rootBookmarkNode" class="row-fluid"></div>
   </div>
   <div style="display: none;" data-dojo-attach-point="bookmarkOptions">
      <div class="row-fluid">
         <div class="colspan6">
            <label>Name:</label>
            <div data-dojo-attach-point="nameTextbox"></div>
         </div>
         <div class="colspan6" data-dojo-attach-point="updateExtentContainer">
            <label>Update to current extent:</label>
            <div data-dojo-attach-point="updateExtentCheckbox"></div>
         </div>
      </div>
      <br />
      <div class="row-fluid">
         <div class="colspan3">
            <div data-dojo-type="dijit/form/Button" data-dojo-attach-point="saveButton" data-dojo-attach-event="onClick:_onSaveButtonClick" data-dojo-props="iconClass: 'icon-save'">Save</div>
         </div>
         <div class="colspan3">
            <div data-dojo-type="dijit/form/Button" data-dojo-attach-point="cancelButton" data-dojo-attach-event="onClick:_onCancelButtonClick" data-dojo-props="iconClass: 'icon-ban-circle'">Cancel</div>
         </div>
      </div>
   </div>
</div>
