﻿<div data-dojo-attach-point="containerNode" class="jstoolkit-dijits-maplink">
    <div class="jstoolkit-floatingPane">
        <div data-dojo-attach-point="linkTextarea"></div>
        <div class="row-fluid">
            <div data-dojo-attach-point="spinner" style="display: none;">
                <i class="icon-spinner icon-spin"></i>
            </div>
            <div data-dojo-attach-point="linksButtons" style="display: block;">
                <span class="action-link" data-dojo-attach-point="openLink">Open Link</span>
                <span class="action-link" data-dojo-attach-point="optionsLink">Show Options</span>
            </div>
        </div>
        <div data-dojo-attach-point="options" style="display: none;">
            <div data-dojo-attach-point="serializeMarkup"></div>
            <label>Include Markup</label>
        </div>
    </div>
    <div class="dijitDialogPaneActionBar">
        <button data-dojo-attach-point="updateLinkButton">Update Link</button>
    </div>
</div>
