﻿<div data-dojo-attach-point="containerNode" class="jstoolkit-dijits-mapmanager" style="width: 100%; height: 100%; padding: 0px;">
   <div data-dojo-type="dijit/layout/ContentPane" data-dojo-attach-point="topPane" data-dojo-props="region: 'top', splitter: false, gutters: false" style="padding: 0px;">
      <div data-dojo-attach-point="actionToolbar" data-dojo-type="dijit/Toolbar">
         <div data-dojo-type="dijit/form/Button" data-dojo-attach-point="treeViewButton" data-dojo-attach-event="onClick:_togglePreviewMode" style="display: none;">Back</div>
         <div data-dojo-type="dijit/form/Button" data-dojo-attach-point="sendToMapButton" data-dojo-attach-event="onClick:_sendLayerToMap" data-dojo-props="disabled: true">Send To Map</div>
         <div data-dojo-type="dijit/form/DropDownButton" data-dojo-attach-point="previewExtentButton" data-dojo-props="style: 'display: none;', label: 'Preview Extent'">
            <div data-dojo-type="dijit/DropDownMenu">
               <div data-dojo-type="dijit/RadioMenuItem" data-dojo-attach-point="mainMapExtentMenuItem" data-dojo-attach-event="onClick:_togglePreviewExtent"
                  data-dojo-props="label: 'Main Map Extent', group: 'previewMapExtents', checked: true">
               </div>
               <div data-dojo-type="dijit/RadioMenuItem" data-dojo-attach-point="defaultExtentFromServiceMenuItem" data-dojo-attach-event="onClick:_togglePreviewExtent"
                  data-dojo-props="label: 'Default Extent From Service', group: 'previewMapExtents', checked: false">
               </div>
            </div>
         </div>
         <div data-dojo-type="dijit/form/Button" data-dojo-attach-point="previewButton" data-dojo-attach-event="onClick:_togglePreviewMode" data-dojo-props="disabled: true">Preview</div>
         <div data-dojo-type="dijit/form/Button" data-dojo-attach-point="removeButton" data-dojo-attach-event="onClick:_removeMapFromManager" data-dojo-props="disabled: true">Remove</div>
         <div data-dojo-type="dijit/ToolbarSeparator" data-dojo-attach-point="nodeActionSeparator"></div>
         <div data-dojo-type="dijit/form/Button" data-dojo-attach-point="addLayerButton" data-dojo-attach-event="onClick:_openAddMapDialog" data-dojo-props="disabled: false">Add</div>
      </div>
   </div>
   <div data-dojo-type="dijit/layout/BorderContainer" data-dojo-attach-point="centerPane" data-dojo-props="design: 'headline', gutters: true, region: 'center'" style="padding: 0px;">
      <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region: 'left', splitter: true, style: 'width: 25%;'" data-dojo-attach-point="leftPane" style="padding: 0px;">
         <div data-dojo-type="dijit/layout/AccordionContainer" data-dojo-attach-point="leftPaneAccordion" style="height: 100%; width: 100%;">
            <div data-dojo-type="dijit/layout/ContentPane" data-dojo-attach-point="mapServicesContentPane" style="height: 100%; width: 100%;"></div>
            <div data-dojo-type="dijit/layout/ContentPane" data-dojo-attach-point="arcGisOnlineContentPane" style="height: 100%; width: 100%;"></div>
            <div data-dojo-type="dijit/layout/ContentPane" data-dojo-attach-point="markupContentPane" style="height: 100%; width: 100%;"></div>
         </div>
      </div>
      <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="title: 'Details', region: 'center'" data-dojo-attach-point="detailsPane" style="padding: 10px;"></div>
   </div>
   <div data-dojo-type="dijit/layout/BorderContainer" data-dojo-props="design: 'headline', gutters: true, region: 'center'" style="display: none; padding: 0px;" data-dojo-attach-point="previewContainer">
      <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region: 'left', splitter: true" data-dojo-attach-point="tocPane" style="padding: 0px;">
      </div>
      <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="title: 'Details', region: 'center'" data-dojo-attach-point="previewPane" style="padding: 0px;">
      </div>
   </div>
</div>
