﻿<div class="jstoolkit-dijit-Print">
    <div class="jstoolkit-floatingPane">
        <div class="row-fluid">
            <div class="colspan6">
                <label>Export As&emsp;&emsp;&emsp;&nbsp;</label>
                <select data-dojo-attach-point="exportFormatSelect" data-dojo-type="dijit/form/Select">
                </select>
                <br />
                <br />
                <label>Basemap Quality</label>
                <select data-dojo-attach-point="basemapQualitySelect" data-dojo-type="dijit/form/Select">
                </select>
            </div>
            <div class="colspan6 jstoolkit-mapexportarea">
                <div class="row-fluid">
                    <input name="dimensionSelection" type="radio" data-dojo-type="dijit/form/RadioButton"
                        checked="checked" value="specifySize" data-dojo-attach-point="specifySizeRadio"
                        data-dojo-attach-event="onChange:_setDimensionSelection" />
                    <label>Specify Width/Height</label>
                </div>
                <div class="row-fluid">
                    <input name="dimensionSelection" type="radio" data-dojo-type="dijit/form/RadioButton"
                        value="specifyTemplate" data-dojo-attach-point="specifyTemplateRadio" />
                    <label>Use Template</label>
                </div>
            </div>
            <div class="colspan8">
            </div>
        <div class="row-fluid">
            <div class="colspan12">
                <input type="checkbox" data-dojo-attach-point="showOverlayCheckbox"
                    data-dojo-attach-event="onChange: _toggleOverlay" data-dojo-type="dijit/form/CheckBox" />
                <label>Show Overlay</label>
            </div>
        </div>
        </div>
        <div data-dojo-attach-point="sizeOptions">
            <div class="row-fluid">
                <div class="colspan2">
                    <label>Width</label>
                </div>
                <div class="colspan10">
                    <input data-dojo-attach-point="widthTextbox" data-dojo-type="dijit/form/TextBox" data-dojo-attach-event="onKeyUp:_onWidthHeightChange" />
                </div>
            </div>
            <div class="row-fluid">
                <div class="colspan2">
                    <label>Height</label>
                </div>
                <div class="colspan10">
                    <input data-dojo-attach-point="heightTextbox" data-dojo-type="dijit/form/TextBox" data-dojo-attach-event="onKeyUp:_onWidthHeightChange" />
                </div>
            </div>
        </div>
        <div style="display: none;" data-dojo-attach-point="templateOptions">
            <div class="row-fluid">
                <div class="colspan3">
                    <label>Template: </label>
                </div>
                <div class="colspan9">
                    <select data-dojo-attach-point="templateSelect" data-dojo-type="dijit/form/Select" data-dojo-attach-event="onChange:_onTemplateChange">
                        <option value="">Loading from Server</option>
                    </select>
                    &nbsp;<input type="checkbox" data-dojo-attach-point="includeLegend" data-dojo-type="dijit/form/CheckBox" />
                    <label>Include Legend</label>
                </div>
            </div>
            <div data-dojo-attach-point="textElementsList">
            </div>
            <div data-dojo-type="dijit/Fieldset" data-dojo-attach-point="advancedTemplateOptions" data-dojo-props="title: 'Advanced Options'">
                <input type="checkbox" data-dojo-type="dijit/form/CheckBox" data-dojo-attach-point="enableCustomScaleCheckbox" data-dojo-attach-event="onChange:_customScaleCheckboxChange" />
                <label>Enable Custom Scale</label>
                <br />
                <span>Scale 1 : </span>
                <input type="text" data-dojo-type="dijit/form/TextBox" data-dojo-attach-point="customScaleTextBox" />
            </div>
        </div>
    </div>

    <div class="dijitDialogPaneActionBar">
        <span style="display: none;" class="action-link" data-dojo-attach-point="exportLink">Show Exported Map</span>
        <input type="button" data-dojo-props="label: 'Export'" data-dojo-type="dijit/form/Button" data-dojo-attach-event="onClick:_startExport" data-dojo-attach-point="exportButton" />
    </div>

</div>
