﻿<div data-dojo-attach-point="containerNode" class="dijitDialogPaneContent">
    <style>
        span.dijitReset.dijitInline.dijitButtonNode
        {
            width: 160px;
        }
    </style>
    <div data-dojo-attach-point="contentNode">
        <div class="row-fluid">
            <div class="colspan8" data-dojo-attach-point="originByAddressInputContainer" style="padding-left: 15px; display: block;">
                <div class="row-fluid">
                    <div class="colspan4">
                        Start Address:
                    </div>
                    <div class="colspan8">
                        <input data-dojo-attach-point="originByAddressInput" style="width: 95%;" data-dojo-type="dijit/form/TextBox"
                            data-dojo-attach-event="onBlur: _geolocateOrigin" />
                    </div>
                </div>
            </div>
            <div class="colspan8" data-dojo-attach-point="originByCoordsInputContainer" style="padding-left: 15px; display: none;">
                <div class="row-fluid">
                    <div class="colspan4">
                        Start Latitude:
                    </div>
                    <div class="colspan8">
                        <input data-dojo-attach-point="originByCoordsLatInput" style="width: 95%;" data-dojo-type="dijit/form/TextBox" />
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="colspan4">
                        Start Longitude:
                    </div>
                    <div class="colspan8">
                        <input data-dojo-attach-point="originByCoordsLonInput" style="width: 95%;" data-dojo-type="dijit/form/TextBox" />
                    </div>
                </div>
            </div>
            <div class="colspan4">
                <div class="row-fluid" data-dojo-attach-point="useLocationBtnContainer">
                    <div class="colspan12">
                        <input data-dojo-props="label: 'Use Current Location'" type="button"
                            data-dojo-type="dijit/form/Button" data-dojo-attach-event="onClick: _getCurrentLocation"
                            data-dojo-attach-point="useLocationBtn" />
                    </div>
                </div>
                <div class="row-fluid" data-dojo-attach-point="placeStartBtnContainer">
                    <div class="colspan12">
                        <input data-dojo-props="label: 'Choose Starting Point'" type="button"
                            data-dojo-type="dijit/form/Button" data-dojo-attach-event="onClick: _dropOriginPoint" />
                    </div>
                </div>
                <div class="row-fluid" data-dojo-attach-point="clearStartBtnContainer" style="display: none;">
                    <div class="colspan12">
                        <input data-dojo-props="label: 'Clear Starting Point'" type="button"
                            data-dojo-type="dijit/form/Button" data-dojo-attach-event="onClick: _clearStartPoint" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row-fluid" data-dojo-attach-point="originFormatSelectContainer">
            <div style="padding-left: 25px;" class="colspan6">
                <input type="radio" data-dojo-type="dijit/form/RadioButton" checked="checked" value="useAddress" name="useAddrOrCoordsStart"
                    data-dojo-attach-point="useAddrStartRadio" data-dojo-attach-event="onChange: _toggleOriginInputType" />
                <label>Use Address</label>
            </div>
            <div style="padding-left: 25px;" class="colspan6">
                <input type="radio" data-dojo-type="dijit/form/RadioButton" value="useCoords" name="useAddrOrCoordsStart"
                    data-dojo-attach-point="useCoordStartRadio" />
                <label>Use Coordinates</label>
            </div>
        </div>
        <div class="row-fluid">
            <div class="colspan8" data-dojo-attach-point="destByAddressInputContainer" style="padding-left: 15px; display: block;">
                <div class="row-fluid">
                    <div class="colspan4">
                        Destination Address:
                    </div>
                    <div class="colspan8">
                        <input data-dojo-attach-point="destByAddressInput" style="width: 95%;" data-dojo-type="dijit/form/TextBox"
                            data-dojo-attach-event="onBlur: _geolocateDestination" />
                    </div>
                </div>
            </div>
            <div class="colspan8" data-dojo-attach-point="destByCoordsInputContainer" style="padding-left: 15px; display: none;">
                <div class="row-fluid">
                    <div class="colspan4">
                        Destination Latitude:
                    </div>
                    <div class="colspan8">
                        <input data-dojo-attach-point="destByCoordsLatInput" style="width: 95%;" data-dojo-type="dijit/form/TextBox" />
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="colspan4">
                        Destination Longitude:
                    </div>
                    <div class="colspan8">
                        <input data-dojo-attach-point="destByCoordsLonInput" style="width: 95%" data-dojo-type="dijit/form/TextBox" />
                    </div>
                </div>
            </div>
            <div class="colspan4">
                <div class="row-fluid" data-dojo-attach-point="placeDestBtnContainer" style="display: block;">
                    <div class="colspan12">
                        <input data-dojo-type="dijit/form/Button" type="button"
                            data-dojo-props="label: 'Choose Destination'" data-dojo-attach-event="onClick: _dropDestPoint" />
                    </div>
                </div>
                <div class="row-fluid" data-dojo-attach-point="clearDestBtnContainer" style="display: none;">
                    <div class="colspan12">
                        <input data-dojo-type="dijit/form/Button" type="button"
                            data-dojo-props="label: 'Clear Destination'" data-dojo-attach-event="onClick: _clearDestPoint" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row-fluid" data-dojo-attach-point="destFormatSelectContainer">
            <div style="padding-left: 25px;" class="colspan6">
                <input data-dojo-type="dijit/form/RadioButton" checked="checked" value="useAddressDest" name="useAddrOrCoordsDest"
                    data-dojo-attach-point="useAddrDestRadio" data-dojo-attach-event="onChange: _toggleDestInputType" />
                <label>Use Address</label>
            </div>
            <div style="padding-left: 25px;" class="colspan6">
                <input data-dojo-type="dijit/form/RadioButton" value="useCoordsDest" name="useAddrOrCoordsDest"
                    data-dojo-attach-point="useCoordDestRadio" />
                <label>Use Coordinates</label>
            </div>
        </div>

        <div class="dijitDialogPaneActionBar">
            <input type="button" data-dojo-props="label: 'Generate Route'" data-dojo-type="dijit/form/Button"
                data-dojo-attach-event="onClick:_startRouteTask" data-dojo-attach-point="startRouteBtn" />
        </div>
    </div>
</div>
