﻿<span class="toolkit-simple-button" data-dojo-attach-point="containerNode">
    <span data-dojo-attach-point="leftIconNode" class="toolkit-simple-button-icon"></span>
    <span data-dojo-attach-point="labelNode" class="toolkit-simple-button-text"></span>
    <span data-dojo-attach-point="rightIconNode" class="toolkit-simple-button-icon"></span>
</span>