﻿<div style="position: absolute; width: auto; display: inline-block; margin: 0 auto; text-align: right; top: 2px; right: 5px; width: 100%;">
    <div data-dojo-attach-point="actionSelect"></div>
    <div data-dojo-attach-point="searchSelect"></div>
    <button data-dojo-attach-point="searchButton"> </button>
</div>                        