﻿<div>
    <div class="row-fluid" style="display: none;" data-dojo-attach-point="fillSymbolOptions">
        <div class="colspan3">
            <label>Fill: </label>
            <span class="toolkit-dijits-fillColorButton" data-dojo-attach-point="fillColorButton" data-dojo-attach-event="onclick: _showFillColorPicker"></span>
        </div>
        <div class="colspan9">
            <div data-dojo-attach-point="fillTransparencySlider"></div>
            <span class="toolkit-dijits-fillTransparencyValue"><span data-dojo-attach-point="fillTransparencyValue"></span>%</span>
        </div>
    </div>
    <div class="row-fluid" style="display: none;" data-dojo-attach-point="lineOptions"></div>
    <div class="row-fluid" style="display: none;" data-dojo-attach-point="markerOptions">
        <span>Pushpins</span>
        <div data-dojo-attach-point="teardropIcons">
        </div>
        <div data-dojo-attach-point="customMapIconsContainer">
            <span>Custom Map Icons</span>
            <div data-dojo-attach-point="customMapIcons"></div>
        </div>
    </div>
    <div class="row-fluid" style="display: none;" data-dojo-attach-point="fontOptions">
        <div class="colspan6">
            <label>Font Text:</label>
            <div data-dojo-attach-point="fontTextBox"></div>
        </div>
        <div class="colspan6">
            <label>Font Color:</label>
            <span class="toolkit-dijits-fillColorButton" data-dojo-attach-point="fontColorButton" data-dojo-attach-event="onclick: _showFontColorPicker"></span>
        </div>
        <div class="colspan3">
            <label>Font Size:</label>
        </div>
        <div class="colspan9">
            <div data-dojo-attach-point="fontSizeSlider"></div>
            <span data-dojo-attach-point="fontSizeValue"></span>
        </div>
    </div>
    <div class="row-fluid" style="display: none;" data-dojo-attach-point="commonOptions">
        <div class="colspan3">
            <label>Border: </label>
            <span class="toolkit-dijits-fillColorButton" data-dojo-attach-point="lineColorButton" data-dojo-attach-event="onclick: _showLineColorPicker"></span>
        </div>
        <div class="colspan9">
            <div data-dojo-attach-point="lineTransparencySlider"></div>
            <span class="toolkit-dijits-fillTransparencyValue"><span data-dojo-attach-point="lineTransparencyValue"></span>%</span>
        </div>
        <div class="colspan3">  
            <label>Border Size:</label>
        </div>
        <div class="colspan9">
            <div data-dojo-attach-point="lineWidthSlider"></div>
            <span class="toolkit-dijits-fillTransparencyValue"><span data-dojo-attach-point="lineWidthValue"></span></span>
        </div>
        <div class="colspan3">  
            <label>Type:</label>
        </div>
        <div class="colspan9">
            <div data-dojo-attach-point="lineTypeDropDownButton"></div>
        </div>
    </div>
    <div class="floatingColorPickers" style="display: none;" data-dojo-attach-point="colorPickers">
        <div data-dojo-attach-point="fillColorPicker"></div>
        <div data-dojo-attach-point="lineColorPicker"></div>
        <div data-dojo-attach-point="fontColorPicker"></div>
    </div>
</div>
