﻿<div>
    <label>Find: </label>
    <div data-dojo-attach-point="layerSelect"></div>
    <label>Within:</label>
    <input data-dojo-attach-point="bufferRadius" />
    <div data-dojo-attach-point="bufferUnits"></div>
    <div>
        <button data-dojo-attach-point="searchButton">Search</button>
        <button data-dojo-attach-point="saveButton">Save</button>
    </div>
</div>
