﻿<div class="row-fluid">
    <div class="colspan12" data-dojo-attach-point="filterForm" style="white-space:nowrap;">
        <label>Radius:</label>
        <input data-dojo-attach-point="radiusTextBox" class="span1" />
        <select data-dojo-attach-point="unitSelect"></select>
    </div>
</div>
