﻿<div class="containerNode filterManagerContainer" data-dojo-attach-point="filterManagerContainer">
    <div data-dojo-attach-point="dialog">
        <div data-dojo-attach-point="filterManagerForm">
            <div>
                <div>
                    <label>Filter layer: </label>
                    <span>${mapServiceId}</span>
                </div>
                <div>
                    <a href="javascript:void(0);" data-dojo-attach-point="addFilterLink" class="icon-plus">&nbsp;Add another expression</a>
                </div>
                <div>
                    <p>
                        Display features in the layer that match
                    <select class="joinOperatorSelect" required="required" data-dojo-attach-point="joinOperatorSelect"></select>
                        of the following expressions
                    </p>
                </div>
            </div>
        </div>
        <div class="dijitDialogPaneActionBar">
            <div data-dojo-attach-point="applyButton"></div>
            <div data-dojo-attach-point="clearButton"></div>
            <div data-dojo-attach-point="closeButton"></div>
        </div>
    </div>
</div>
