﻿<div class="esriPopup" style="display: block;min-width:350px;" >
    <div class="titleButton close" data-dojo-attach-point="_closeButton"></div>
    <div class="titlePane" data-dojo-attach-point="_title"></div>
    <div class="contentPane" data-dojo-attach-point="_content"></div>
    <div class="actionsPane" data-dojo-attach-point="_actions"></div>
</div>
