﻿<div data-dojo-attach-point="containerNode" class="jstoolkit-dijits-maplink">
    <div class="jstoolkit-floatingPane">
        <div data-dojo-attach-point="linkTextarea"></div>
        <div class="row-fluid">
            <a href="javascript:void(0);" data-dojo-attach-point="openLink" target="_blank">Open Link</a>
            <a href="javascript:void(0);" data-dojo-attach-point="optionsLink">Show Options</a>
        </div>
        <div data-dojo-attach-point="options" style="display:none;">
            <div data-dojo-attach-point="serializeMarkup"></div><label>Include Markup</label>
        </div>
    </div>
    <div class="dijitDialogPaneActionBar">
        <button data-dojo-attach-point="updateLinkButton">Update Link</button>
        <button data-dojo-attach-point="shortenUrlButton">Create Short URL</button>
        <div style="display: none;" data-dojo-attach-point="shortUrlArea">
            <label>Short URL:</label>
            <div data-dojo-attach-point="shortUrlTextBox"></div>
        </div>
    </div>
</div>
