﻿<h2>Map Service Details</h2>
<h4>Url: <a href="${url}" target="_blank">${url}</a></h4>
<h4>Layers</h4>
<ul>${layers}</ul>
<h4>Description</h4>
<span>${description}</span>
<h4>Spatial Reference</h4>
<span>${spatialReference}</span>
