﻿<div data-dojo-attach-point="containerNode" style="height: 100%; width: 100%;">
    <div data-dojo-attach-point="leftRegion" style="padding:4px;"></div>
    <div data-dojo-attach-point="mapRegion">
        <div data-dojo-attach-point="topMapRegion">
            <div data-dojo-attach-point="mainMenu"></div>
        </div>
        <div data-dojo-attach-point="mapNodeRegion">
            <div data-dojo-attach-point="mapToolContainerNode"></div>
            <div style="display: none;" data-dojo-attach-point="mapGraphicEditNode" id="wvsGraphicEditContainer"></div>
            <div data-dojo-attach-point="basemapGalleryContainer" style="position: absolute; right: 20px; top: 10px; z-Index: 999;">
                <div data-dojo-attach-point="basemapGalleryTitlePane">
                    <div data-dojo-attach-point="basemapGalleryContentPane" style="width: 380px; height: 280px; overflow: auto;">
                        <div data-dojo-attach-point="basemapGalleryNode" id="${id}_basemapGalleryNode"></div>
                    </div>
                </div>
            </div>
            <div style="position: absolute; right:20px; top: 150px; width:34px;">
                <div style="position: relative; z-index: 50; padding-bottom:4px;">
                    <div data-dojo-attach-point="mapHomeButton"></div>
                </div>
                
                <div style="position: relative; z-index: 50;">
                    <div class="jstoolkit-map-fullscreen-button" data-dojo-attach-point="fullScreenButton">&nbsp;&nbsp;</div>
                </div>
            </div>
        </div>
        <div data-dojo-attach-point="bottomMapRegion" class="dijitMenuBar" style="height: 26px; overflow: hidden; padding: 0px;">
            <table style="width: 100%;">
                <tr>
                    <td style="width: 180px; padding-left: 4px;">
                        <div data-dojo-attach-point="scalebarNode" style="top: -7px; position: relative;"></div>
                    </td>
                    <td style="text-align: right; padding-right: 4px;">
                        <div data-dojo-attach-point="coordinateDisplayNode"></div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div data-dojo-attach-point="bottomRegion" style="padding: 0px; overflow: hidden;">
        <div data-dojo-attach-point="resultsConsole"></div>
    </div>
</div>
