﻿<div class="jstoolkit-dijits-Markup">
    <div class="btn-group" data-dojo-attach-point="buttonsNode"></div>

    <div style="display:none;" data-dojo-attach-point="freehandOptions">
        <br />
        <div data-dojo-attach-point="freehandPolygonMode"></div>
        <label>Polygon mode</label>
    </div>
    <div style="display:none;" data-dojo-attach-point="bufferOptions"><br /></div>
    <div style="display:none;" data-dojo-attach-point="textOptions">
        <br />
        <label>Text: </label>
        <div data-dojo-attach-point="textInput"></div>
    </div>
</div>