﻿<div class="jstoolkit-dijit-Print">
    <div class="jstoolkit-floatingPane">
        <div class="row-fluid">
            <div class="colspan5">
                <label>Export As</label>
                <div data-dojo-attach-point="exportFormatSelect"></div>
            </div>
            <div class="colspan7 jstoolkit-mapexportarea">
                <div class="row-fluid">
                    <input name="dimensionSelection" type="radio" data-dojo-attach-point="specifySizeRadio" />
                    <label>Specify Width/Height</label>
                </div>
                <div class="row-fluid">
                    <input name="dimensionSelection" type="radio" data-dojo-attach-point="specifyTemplateRadio" />
                    <label>Use Template</label>
                </div>
            </div>
        </div>
        <div data-dojo-attach-point="sizeOptions">
            <div class="row-fluid">
                <div class="colspan2">
                    <label>Width</label>
                </div>
                <div class="colspan10">
                    <input data-dojo-attach-point="widthTextbox" />
                    <label> inches</label>
                </div>
            </div>
            <div class="row-fluid">
                <div class="colspan2">
                    <label>Height</label>
                </div>
                <div class="colspan10">
                    <input data-dojo-attach-point="heightTextbox" />
                    <label> inches</label>
                </div>
            </div>
        </div>
        <div style="display: none;" data-dojo-attach-point="templateOptions">
            <div class="row-fluid">
                <div class="colspan2">
                    <label>Template: </label>
                </div>
                <div class="colspan10">
                    <div data-dojo-attach-point="templateSelect"></div>
                    <span data-dojo-attach-point="sizeInfo"></span>
                </div>
            </div>
            <div class="row-fluid">
                <div class="colspan2">
                    <label>Title: </label>
                </div>
                <div class="colspan10">
                    <span data-dojo-attach-point="titleTextbox"></span>
                   
                        &nbsp;<input type="checkbox" data-dojo-attach-point="includeLegend" />
                        <label>Include Legend</label>
                   
                </div>
            </div>
            <div data-dojo-attach-point="advancedTemplateOptions">
                <div data-dojo-attach-point="enableCustomScaleCheckbox"></div>
                <label>Enable Custom Scale</label>
                <br />
                <span>Scale 1 : </span><div data-dojo-attach-point="customScaleTextBox"></div>
                <div class="row-fluid">
                    <div class="colspan4">
                        <label>Scale bar units: </label>
                    </div>
                    <div class="colspan8">
                        <div data-dojo-attach-point="scaleBarUnitSelect"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="dijitDialogPaneActionBar">
        <a style="display: none;" href="javascript:void(0);" target="_blank" data-dojo-attach-point="exportLink">Show Exported Map</a>
        <input type="button" data-dojo-attach-point="exportButton" />
    </div>

</div>
