﻿<div class="node" data-dojo-attach-point="tocNode">
    <div class="node-content" data-dojo-attach-point="rowNode">
        <span data-dojo-attach-point="expandoNode" data-dojo-attach-event="onclick:_toggleChildrenNode" class="jstoolkit-icon jstoolkit-icon-minus-sign jstoolkit-hidden" title="Expand/Collapse">&nbsp;</span>
        <div class="dijit dijitReset dijitInline dijitCheckBox" data-dojo-attach-point="checkboxNode"></div>
        <span class="icon jstoolkit-hidden" data-dojo-attach-point="iconNode"></span>
        <span class="title" data-dojo-attach-point="labelNode">${title}</span>
       <span class="jstoolkit-icon jstoolkit-icon-bullet-arrow-down" data-dojo-attach-point="dropDownMenuIcon"></span>
    </div>
</div>