﻿<div class="node" data-dojo-attach-point="tocNode">
    <div class="node-content" data-dojo-attach-point="rowNode">
        <div class="dijit dijitReset dijitInline dijitCheckBox" data-dojo-attach-point="checkboxNode"></div>
        <span class="icon jstoolkit-hidden" data-dojo-attach-point="iconNode"></span>
        <span class="title" data-dojo-attach-point="labelNode" >${title}</span>
        <span class="jstoolkit-icon jstoolkit-icon-bullet-arrow-down" data-dojo-attach-point="dropDownMenuIcon"></span>
    </div>
</div>