﻿<div class="row-fluid">
    <div data-dojo-attach-point="pointOptions" style="display:none;">
        <div class="colspan4">
            <label>Distance:</label>
        </div>
        <div class="colspan8">
        <input data-dojo-attach-point="distanceTextBox" />
        </div>
        <div class="colspan4">
        <label>Units:</label>
        </div>
        <div class="colspan8">
        <select data-dojo-attach-point="unitSelect"></select>
        </div>
    </div>
    <div data-dojo-attach-point="getViewshedButton">Get ViewShed</div>
</div>
