﻿<div>
    <div data-dojo-attach-point="polylineDimensions">
        <label>Total Length: </label>
        <span data-dojo-attach-point="polylineLengthLabel"></span>
        <div data-dojo-attach-point="totalLengthUnitSelect"></div>
    </div>
    <div data-dojo-attach-point="polygonDimensions">
        <div>
            <label>Perimeter: </label>
            <span data-dojo-attach-point="perimeterLabel"></span>
            <div data-dojo-attach-point="perimeterUnitSelect"></div>
        </div>
        <div>
            <label>Area: </label>
            <span data-dojo-attach-point="areaLabel"></span>
            <div data-dojo-attach-point="areaUnitSelect"></div>
        </div>
    </div>
    <div data-dojo-attach-point="pointCoordinates">
        <div data-dojo-attach-point="pointCoordinateUnitSelect"></div>
        <div data-dojo-attach-point="pointCoordinatesTextArea"></div>
    </div>
    <span class="action-link" data-dojo-attach-point="geometryLink">View Geometry Details</span>
</div>