﻿<div class="filter containerNode" data-dojo-attach-point="filterContainer">
    <div data-dojo-attach-point="filterForm">
        <select class="filterSelect" data-dojo-attach-point="fieldSelect"></select>
        <select class="filterSelect" data-dojo-attach-point="operatorSelect"></select>
        <select class="" data-dojo-attach-point="codedValueSelect"></select>
        <select class="dateSelect" data-dojo-attach-point="beginDateSelect"></select>
        <select class="dateSelect" data-dojo-attach-point="endDateSelect"></select>
        <input class="filterTextInput" data-dojo-attach-point="filterTextBox"  />
    </div>
</div>
