﻿<div>
    <div class="jstoolkit-floatingPane">
        <div class="row-fluid">
            <!--
            <div class="colspan4">
                <label>ID Field:</label>
            </div>
            <div class="colspan8">
                <select data-dojo-attach-point="idFieldSelect"></select>
            </div>
            -->
            <div class="colspan4">
                <label>Output Format:</label>
            </div>
            <div class="colspan8">
                <select data-dojo-attach-point="outputFormatSelect"></select>
            </div>
            <div class="colspan4">
                <label>Output Projection:</label>
            </div>
            <div class="colspan8">
                <select data-dojo-attach-point="outputSrSelect"></select>
            </div>
        </div>
    </div>
    <div class="dijitDialogPaneActionBar">
        <span style="display: none;" class="action-link"  data-dojo-attach-point="exportLink">Download Exported File</span>
        <div data-dojo-attach-point="exportButton">Export</div>
    </div>
</div>
