﻿<div class="jstoolkit-dijit-Identify">
    <div class="btn-group" data-dojo-attach-point="buttonsNode" style="display: inline-block;">
        <div data-dojo-attach-point="polygonButton"></div>
        <div data-dojo-attach-point="pointButton">Point</div>
        <div data-dojo-attach-point="bufferButton">Buffer</div>
    </div>
    <div class="row-fluid">
        <div class="colspan12" style="display: none" data-dojo-attach-point="polygonOptions"></div>
        <div class="colspan12" style="display: none" data-dojo-attach-point="pointOptions">
            <div class="row-fluid">
                <div class="colspan6">
                    <label>Tolerance (Pixels)</label>
                </div>
                <div class="colspan6">
                    <div data-dojo-attach-point="pointTolerance"></div>
                </div>
            </div>
        </div>
        <div class="colspan12" style="display: none" data-dojo-attach-point="bufferOptions">
            <div data-dojo-attach-point="bufferTool"></div>
        </div>
        <div class="colspan12" data-dojo-attach-point="commonToolOptions">
            <div class="row-fluid">
                <div class="colspan6">
                    <label>Identify Layer(s): </label>
                </div>

                <div class="colspan6">
                    <div class="displayLimit100" data-dojo-attach-point="layerSelect"></div>
                </div>
            </div>
        </div>
        <div class="colspan12" style="color: #f00; font-weight: bold; display: none;" data-dojo-attach-point="identifyError"></div>
    </div>
</div>
