﻿<div>
    <div class="row-fluid">
        <div class="colspan3">
            Data type:
        </div>
        <div class="colspan9">
            <select class="colspan9" data-dojo-attach-point="layerSelect"> </select>
        </div>
        <div class="colspan3">
            URL:
        </div>
        <div class="colspan9">
            <input type="text" data-dojo-attach-point="urlTextBox" />
            <div style="display:none;" data-dojo-attach-point="useAsBasemapDiv">
                <label>Use as basemap</label>
                <input type="checkbox" data-dojo-attach-point="useAsBasemapButton" />
            </div>
        </div>
    </div>
    <div class="dijitDialogPaneActionBar">
        <button data-dojo-attach-point="submitButton"></button>
    </div>
</div>   