﻿<h2>Web Map Details</h2>
<h3>Title:&nbsp;</h3><span>${title}</span>
<br />
<h4>Url: <a href="${url}" target="_blank">${url}</a></h4>
<br />
<h4>Description</h4>
<span>${description}</span>
<h4>Operational Layers</h4>
<ul>${opLayers}</ul>
<h4>Owner</h4>
<span>${owner}</span>