﻿<h1>ArcGIS Online Group</h1>
<h3>Name: ${title}</h3>
<h4>Url: <a href="${url}" target="_blank">${url}</a></h4>
<br />
<h4>Description: ${description}</h4>
<br />
<h4>Access Type: ${access}</h4>
<h4>Owner: ${owner}</h4>