﻿<div data-dojo-attach-point="containerNode" class="dijitDialogPaneContent">
    <div data-dojo-attach-point="contentNode">
        <div class="row-fluid">
            <div class="colspan3">
                Start Location:
            </div>
            <div class="colspan5">
                <input data-dojo-attach-point="originInput" style="width: 100%;" data-dojo-type="dijit/form/TextBox" />
            </div>
            <div class="colspan3">
                <a data-dojo-attach-event="onClick: _getCurrentLocation" data-dojo-attach-point="useLocationBtn">Use Current Location</a>
            </div>
        </div>
        <div class="row-fluid">
            <div class="colspan6">
                <input data-dojo-type="dijit/form/RadioButton" checked="checked" value="useAddress" name="useAddrOrCoordsStart"
                    data-dojo-attach-point="useAddrStartRadio" data-dojo-attach-event="onChange: _toggleInputType" />
                <label>Use Address</label>
            </div>
            <div class="colspan6">
                <input data-dojo-type="dijit/form/RadioButton" value="useCoords" name="useAddrOrCoordsStart"
                    data-dojo-attach-point="useCoordRadio" data-dojo-attach-event="onChange: _toggleInputType" />
                <label>Use Coordinates</label>
            </div>
        </div>
        <div class="row-fluid">
            <div class="colspan3">
                Destination Location:
            </div>
            <div class="colspan5">
                <input data-dojo-attach-point="destInput" style="width: 100%;" data-dojo-type="dijit/form/TextBox" />
            </div>
        </div>
        <div class="row-fluid">
            <div class="colspan6">
                <input data-dojo-type="dijit/form/RadioButton" checked="checked" value="useAddressDest" name="useAddrOrCoordsDest"
                    data-dojo-attach-point="useAddrRadio" data-dojo-attach-event="onChange: _toggleInputType" />
                <label>Use Address</label>
            </div>
            <div class="colspan6">
                <input data-dojo-type="dijit/form/RadioButton" value="useCoordsDest" name="useAddrOrCoordsDest"
                    data-dojo-attach-point="useCoordRadio" data-dojo-attach-event="onChange: _toggleInputType" />
                <label>Use Coordinates</label>
            </div>
        </div>
    </div>
</div>
