﻿<div style="display:none;" class="jstoolkit-dijit-tool-container">
    <div data-dojo-attach-point="closeButton" class="dijitTabCloseButton" title="Close" data-dojo-attach-event="onclick: hide"><i class="icon-remove-sign"></i></div>
    <h4 data-dojo-attach-point="toolNameSpan"></h4>
    <div data-dojo-attach-point="activeTool"  style="clear: both;"></div>
</div>